#gallery {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21.2vw, 1fr));
}

#gallery div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#gallery div div {
    padding: 10%;
}

#gallery div div img {
    border-radius: 1vw;
    max-height: fit-content;
    transition: 0.3s;
}

#gallery div div img:hover {
    transform: scale(1.07);
    transition: 0.3s;
}

#preview {
    display: none;
    width: 100%;
}