body {
    background-color: #070611;
    color: #d0e2ee;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;

    margin: 0;
}

#left-menu {
    height: 100vh;
    width: 13vw;
    border-right: 2px solid white;
}

#left-menu * {
    width: 100%;
    text-align: center;
    /*font-weight: bold;*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}